<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-brand">Database & Web Technique Project</div>
  
  <ul class="navbar-nav">
  	<li><a  routerLink="/add-employees" class="nav-link">Add New Feed</a></li>
    <li><a  routerLink="add-employees/:url" class="nav-link">RssData</a></li>
    <li><a  routerLink="/showdata" class="nav-link">ShowData</a></li>

    <li><a href="http://localhost:8080/rss" target="_blank" class="nav-link">RSS</a></li>
  </ul>
  <span class="text-muted" style="margin-left: 30%;">Team XYZ</span>
  </nav>
  
  </header>