<app-header></app-header>

<router-outlet></router-outlet>
 
<!-- <router-outlet>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
<app-add-employee></app-add-employee>
    
</router-outlet>
employee.component.css

{ path:'add-employees', component: AddEmployeeComponent},


 -->


<!-- 
<mat-sidenav-container id="mainContainer">
  <mat-sidenav mode="side" class="text-center text-white" opened>
    <h3 id="leftNavTitle">DBWT PROJECT</h3>
    <app-add-employee></app-add-employee>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-employee></app-employee>
  </mat-sidenav-content>

</mat-sidenav-container> 


mat-sidenav{
  background-color: #00BCD4;
  width: 20%;
  padding: 20px 0 20px 0;
}
@media only screen and (max-width: 1300px){
  mat-sidenav{
    width: 30%;
  }
}
@media only screen and (max-width: 900px){
  mat-sidenav{
    width: 40%;
  }
}

#mainContainer{
  min-height: 50%;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
}




-->
